.song{
    &__title{
        display: flex;
        gap: 2em;
        margin: 0 0 1em 0;
        h3{
            text-transform: uppercase;
            margin: 0.2em;
            font-size: 1rem;
        }
    }
}