.song{
    &__title{
        display: flex;
        gap: 1em;
        margin: 0 0 1em 0;
        align-items: center;
        h3{
            text-transform: uppercase;
            margin: 0.2em;
            font-size: 1rem;
        }
    }
    &__item{
       width: fit-content;
       column-fill: auto;
    }

    &__link{
        cursor: pointer;
    }
}


@media (max-width: 480px) {
    .song{
        &__title{
            flex-direction: column;
            gap: 1em;
            h3{
                font-size: 0.9rem;
            }
        }
    }
  }