.category{
    display: flex;
    gap: 2em;
    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        p{
            margin: 0;
        }
    }
    .css-1z10yd4-MuiFormControl-root-MuiTextField-root{
        margin-top: 0;
    }
}

.example{
    font-size: 0.8rem;
    margin-top: 0;
    span{
        font-weight: bolder;
    }
}

.inputText{
    input, textarea {
        font-size: 0.9rem;
        line-height: 1rem;
        font-family: monospace;
      }
}


@media (max-width: 480px) {
    .category{
        flex-direction: column;
        gap: 0.2em;
    }

.inputText{
    input, textarea {
        font-size: 0.8rem;
        line-height: 0.9rem;
      }
}
  }