.chord{
    font-weight: bold;
    cursor: pointer;
    font-size: .9rem;
    line-height: .9rem;
    break-after: avoid;
}

@media (max-width: 480px) {
    .chord{
        font-size: .8rem;
    }
  }