.drawerTitle{
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.drawerEmail{
    font-size: 0.8rem;
}

.hidden{
    visibility: hidden;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 0 2.1em;
    gap: .2em;
}

@media (max-width: 480px) {
    .drawerEmail{
        display: none;
    }
  }