.row{
    display: flex;
    flex-direction: column;
    white-space: nowrap
}

.song{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__actions{
        display: flex;
        gap: 2em;
        margin-top: 2em;
    }
}

