:root {
  --mui-palette-primary-main: #7D994F;
  --mui-palette-primary-light: #7D994F;
  --mui-palette-primary-dark: #4c6337;
  --mui-palette-primary-contrastText: #fff;
}

pre{
    margin: 0;
}

@media print {
    .page-break {
      margin-top: 1rem;
      display: block;
      page-break-inside: avoid;
    }
  }
  
  @page {
    size: auto;
    margin: 20mm;
  }